<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>Register</servlet-name>
		<display-name>Register</display-name>
		<description></description>
		<servlet-class>com.learn.mycart.servlets.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.learn.mycart.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.learn.mycart.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductOperationServlet</servlet-name>
		<display-name>ProductOperationServlet</display-name>
		<description></description>
		<servlet-class>com.learn.mycart.servlets.ProductOperationServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductOperationServlet</servlet-name>
		<url-pattern>/ProductOperationServlet</url-pattern>
	</servlet-mapping>
	
	

</web-app>
<!-- 
<web-app>
	<display-name>MyCart</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app> -->

